.box1{
    border-style: solid;
    border-color: blue;
    background-color: palevioletred;
    padding: 32px;
    margin: 12px;
}
.box2{
    border-style:  solid;
    border-color: blueviolet;
    background-color: lightseagreen;
    margin-bottom: 48px;
}